/* video#bgvid { */
	/* position: fixed; right: 0; bottom: 0; */
	/* min-width: 100%; min-height: 100%; */
	/* width: auto; height: auto; z-index: -100; */
	/* background: url(../images/bg-default.png) no-repeat; */
	/* background-size: cover; */
/* } */

/* @media screen and (max-device-width: 800px) { */
	/* html {  */
		/* background: url(../images/bg-default.png) #000 no-repeat center center fixed; */
	/* } */
	/* #bgvid {  */
		/* display: none;  */
	/* } */
/* } */

h1{
	color : #50ff03 ;
}

.name{
	color: #ffffff ;
}

.navbar-perso{
	color : white ;
	background-color: #002255;
	text-align: center;
	border-radius: 25px;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link{
	background-color : rgba(0, 60, 80, 1);
	border-radius: 25px;
}

body{
	margin : 25px;
	color : #EEEEEE ;
	background-color : black;
}

.center {
	text-align : center;
}

hr {
	border-top: 1px solid #50ff03;
}

.border-2{
	border-top : 1px solid #50ff03;
	border-bottom : 1px solid #50ff03;
	
}

.border-3{
	border-bottom : 1px solid #EEEEEE;
}

.underline{
	text-decoration : underline;
}

.sousTitre{
	font-size : 16px;
}

.nav-link:focus, .nav-link:hover {
    color : white ;
}

.panel{
	background-color: rgba(0, 77, 77, 0.80);
	border-radius : 25px;
	margin : 5px;
}
.bottom{
	padding-bottom : 7px;
}


div.c-wrapper{
	width: 100%; /* for example */
	margin: auto;
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img{
	margin: auto;
}

.btn-perso{
	padding : 10px;
	border-top : 1px solid green;
	border-bottom : 1px solid green;
	background-color : rgba(0, 60, 80, 1) ;
	border-radius : 15px;
}

.btn-perso:hover{
	color : white;
}
