h1{
	color : rgb(255, 131, 6) ;
}

.name{
	color: rgb(255, 131, 6);
	font-weight: bold;
}

.navbar-perso{
	color : white ;
	text-align: center;
	border-radius: 25px;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link{
	margin : 2px;
	background-color : rgb(255, 131, 6);
	border-radius: 25px;
}

body{
	margin : 25px;
	color : #EEEEEE ;
	background-image : url("../images/bg-1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	top:0 ;
	right:0 ;
	bottom:0 ;
	left:0;
}

.center {
	text-align : center;
}

hr {
	border-top: 1px solid #50ff03;
}

.border-2{
	border-top : 1px solid rgb(255, 131, 6);
	border-bottom : 1px solid rgb(255, 131, 6);
	color : rgb(255, 131, 6);
	
}

.border-3{
	border-bottom : 1px solid #EEEEEE;
}

.underline{
	text-decoration : underline;
}

.sousTitre{
	font-size : 16px;
}

.nav-link:focus, .nav-link:hover {
    color : white ;
	background-color : rgb(255, 131, 6);
	border-radius : 25px;
	margin : 2px;
}

.panel{
	background-color: rgba(0, 0, 0, 0.80);
	border-radius : 25px;
	margin : 5px;
}

.bottom{
	padding-bottom : 7px;
}


div.c-wrapper{
	width: 100%; 
	margin: auto;
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img{
	margin: auto;
}

.btn-perso{
	color : white;
	padding : 10px;
	border-top : 1px solid rgb(255, 131, 6);
	border-bottom : 1px solid rgb(255, 131, 6);
	background-color : rgb(255, 131, 6);
	border-radius : 15px;
}

.btn-perso:hover{
	color : white;
	text-decoration : none;
	background-color : rgb(255, 169, 77) ;
	
}



button, input, optgroup, select, textarea {
	background-color : rgb(121, 173, 191);
}

.modal-content {
	background-color: rgba(50, 50, 50, 1);
	border-radius : 25px;
	border : 1px solid rgb(255, 131, 6);
	margin : 5px;
	color :rgb(255, 131, 6);
}
button.close, button.close:hover {
	color : white ;
}


footer {
	position:absolute;
	bottom:0;
	width:100%;
	padding-top:50px;
	height:50px;
}
